body {
  font-family: "Source Code Pro", monospace;
  background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/the-path-to-bosworth-field-john-edwards.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  color: grey;
  font-size: 24px;
  font-weight: 100px;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  color: blue;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 150px auto;
}

.weather-app {
  padding: 30px;
  border: 1px solid blueviolet;
  border-radius: 15px;
  background: white;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature small {
  position: relative;
  font-size: 16px;
}
